*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    background-color: red;
}

.contaener{
    width: 1200px;
    margin: 0 auto;
  

}

ol{
    background-color: grey;
    width: 800px;
    margin: 0 auto;
}
li{
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
    list-style: none;
}
